header {
	width:100vw; 
	height: 3.2em;
	position: fixed;
	top: 0;
	z-index: 1000;
	font-family: "Permanent Marker", cursive;
	font-size: calc(0.3em + 0.86vw); /* 18px */
}

/* MENU */
.menu{
	width: 100%;
	height: 3.2em;
	background-color: #f05811;
	top: 0;
	overflow-wrap: break-word;
}

/* Caja de Logo */
.header_cajalogo{
	display: inline-block;
	margin-left: 0.5em;
	height: 3.2em;
}

.header_logo{
	display: block;
	width: 2.85em;
	height: 2.85em;
	margin: 2px;
}

.redireccion_logo{
	display: inline-block;
	height: 3.2em;
	box-sizing: border-box;
	transition: all 0.15s;
}

.redireccion_logo:hover{
	background-color:  #de6a33;
}


/* Caja del titulo */
/*.caja_frase{
	display: inline-block;
	margin-left: 0.5em;
	height: 3.2em;
}

.frase_logo{
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	height: 3.2em;
	padding-top: 0.6em;
}*/

/* NAV */
nav{
	position: relative;
	width: 70%;
	height: 3.2em;
	float: right;
}

.nav_lista{
	height: 3.2em;
	float: right;
	margin-right: 5%;
}

.nav_lista>li{
	list-style: none;
	display: inline-block;
	margin: 0;
	height: 3.2em;
}


/* Elementos "a" */
.nav_lista--elemento{
	display: block;
	position: relative;
	height: 3.2em;
	padding-top: 0.9em;
	padding-left: 0.4em;
	color:  #783f24;
	background-color: transparent;
	text-decoration: none;
	transition: color 0.15s;
	box-sizing: border-box;
}

.nav_lista--elemento:hover{
	background-color:  #de6a33;
	color: #c9551f;
}

body{
 	background-image: url(https://raw.githubusercontent.com/SilReon/programacionWeb/main/bg_foto.jpg);
 	background-repeat: repeat;
 	color: wheat;
 	font-size: calc(0.4em + 0.7vw);
}

.titulo{
	margin-top: 3.2em;
	text-align: center;
}

table{
	margin: auto;
	text-align: center;

}

td{
	padding: 0 0.5em;
}

