header {
	width:100vw; 
	height: 3.2em;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.header_cajalogo{
	display: inline-block;
  width: 5%;
  text-align: center;
	height: 3.2em;
}

.header_logo{
	display: inline-block;
	width: 2.85em;
	height: 2.85em;
	margin: 2px;
}

nav{
	position: relative;
	width: 70%;
	height: 3.2em;
	float: right;
}

.nav_lista li{
	margin-top: 0.8em;
	font-size: calc(0.5em + 0.75vw); /* 18px */
	list-style: none;
	padding-left: 1em;
}

li{
	display: inline-block;
}

body {
  background-color: white;
  background-repeat: repeat;
 	background-image: url(/home/silreon/Escritorio/programacionWeb/bg_foto.jpg);

}

/* NAV */
.menu{
	background-color: blue;
	height: 3.2em;
	top: 0;
	opacity: 1;
	width: 100%;
}

/* CajaInformacion */
.cajaInformacion{
	width: 70%;
}

/* CSS de la cajaimg (Foto y frase) */
.cajaimg{
	z-index: 900;
	display: block;
	text-align: center;
}

.cajaimg_imagen{
	font-size: calc(0.4em + 0.7vw);
	width: 18em;
	height: 21em; /*34em*/   
	border-radius: 5rem;
	margin-top: 15.1vh;
	margin-left: 8.4vw;
	margin-bottom: 1.65vh;
	box-shadow:  0 0 0 .2em black,2px 0 0 0.1em #38201f;
	opacity: .7;
}

.flecha{
	font-size: calc(0.4em + 0.7vw);
	position: absolute;
	width: 12em;
	height: 12em;
	left: 39.4vw;
	top: 17vh;
	opacity: .6;
}

.cajaimg_frase{
	display: inline-block;
	font-family: 'Permanent Marker', cursive;
	font-size: calc(1em + 4.7vw); /* 80px */
	color: #b32821;
	margin-top: 2.3em;
	float: right;
	text-align: center;
	opacity: .7;
	margin-right: 4.6em;
}



/* Clases de CajaPrincipal y la del texto */

.cajacontPrincipal{
	display: table;
	margin: auto;
	margin-top: 2em;
	height: 12rem;
}

.cajacontPrincipal--texto{
	text-align:	left;
	color: white;
	font-size: calc(1em + 0.59vw); /* 24px */
	font-weight: bolder;
	font-family: 'Permanent Marker', cursive;
}



/* Clase de Todas Las cajas dsp de la principal por default  */
.caja{
	font-size: calc(0.7em + 0.45vw); /* 17px */
	font-weight: normal;
	font-family: 'Permanent Marker', cursive;
	position: relative;
	background-position: center;
	background-image: url("/home/silreon/Escritorio/programacionWeb/bg_div.png");
	background-repeat: repeat;
	padding-left: 1.5vw;
	border-radius: 2em;
}


/* Clase de todos los subtitulos dsp de la principal por default */
.subtituloCaja{
	margin-bottom: 0.5em;
	text-align: center;
	color: #b5af4b;
	font-weight: 900;
}


/* Clases de cajaContenido y su contenido */
.cajaContenido{
	font-family: 'Calligraffitti', sans-serif;
	height: 15em;
}

/* Clases de cajaContenido_descripcion y su contenido */
.cajaContenido_descripcion{
	float: left;
	display: inline-block;
	margin-top: 2.1em;
	width: 49%;
}

.cajaContenido_descripcion--texto{
	text-align:	left;
	color: white;
	font-weight: bolder;
	list-style: none; /* Sin estilo de la lista */
}


/* Clases de cajaContenido_dream y su contenido */
.cajaContenido_dream{
	float: right;
	display: inline-block;
	margin-top: 2.1em;
	padding-bottom: 0;
	width: 49%;
}


.cajaContenido_dream--texto{
	list-style: none;
	text-align:	left;
	color: white;
	font-weight: bolder;
}


/* Clases de cajaHabilidad */
.cajaHabilidad{
	height: 15em;
}

.cajaHabilidad--blanda{
	float: left;
	display: inline-block;
	margin-top: 2.1em;
	height: 10.3rem;
	width: 49%;
}

.cajaHabilidad--dura{
	float: right;
	display: inline-block;
	margin-top: 2.1em;
	height: 10.3rem;
	width: 49%;
}


/* Footer */
footer{
	background-image: none;
	background-color: white;
	text-align: center;
	height: 8vw;
	padding-top: 0.8vw;
}

.footer_caja{
	position: relative;
	text-align: center;
	top: 1.2vw;
}

.footer_caja--elemento{
	display: inline-block;
	margin-left: 1vw;
}

a{
	color: black;
	text-decoration: none;
}